<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="LogProviders"
      type="ProviderPatternLogTest.LogProvider.LogProviderConfiguration, ProviderPatternLogTest"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <LogProviders default="XmlProvider">
    <providers>

      <add name="XmlProvider"
        type="ProviderPatternLogTest.LogProvider.Providers.XmlLogProvider, ProviderPatternLogTest"
        fileLocation="c:\temp\log.xml"/>

      <add name="TextProvider"
        type="ProviderPatternLogTest.LogProvider.Providers.TextLogProvider, ProviderPatternLogTest"
        fileLocation="c:\temp\log.txt"/>

    </providers>
  </LogProviders>

</configuration>
